# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5457/fast_feet"

# Auth
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# Nominatim Geocoding API
NOMINATIM_API_URL="https://nominatim.openstreetmap.org"
NOMINATIM_API_USER_AGENT="FastFeetAPI/1.0 (github.com/yourusername/fast-feet-api)"